<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Szopi</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <header>
            <span class="title">Szopi</span>
            <div>
                <a class="cart-ico">
                        <span>Koszyk</span>
                        <span>(0)</span>
                        <span>0</span>
                        <span>$</span>
                        <img src="https://thumbs.dreamstime.com/z/shop-cart-icon-buy-symbol-shopping-basket-sign-%C3%A2%E2%82%AC-vector-142876366.jpg" alt="Cart">  
                </a>
            </div>
    </header>

    <div class="main-content">
        <div class="item">
            <p class="item-name">
                Pencil
            </p>
            <img src="https://media.istockphoto.com/id/1256509544/vector/pencil-flat-vector-illustration-isolated-on-a-white-background.jpg?s=612x612&w=0&k=20&c=IfuOdd40OFqM-6jzqH6K2Lo3oOhhoypEDGEub-5dmIU=">
        
            <div>
                <span>Price</span>
                <span>2.50</span>
                <span>$</span>
            </div>
            <a href="" class="add-btn">Add</a>
        </div>
        <div class="item">
            <p class="item-name">
                Pencil
            </p>
            <img src="https://media.istockphoto.com/id/1256509544/vector/pencil-flat-vector-illustration-isolated-on-a-white-background.jpg?s=612x612&w=0&k=20&c=IfuOdd40OFqM-6jzqH6K2Lo3oOhhoypEDGEub-5dmIU=">
        
            <div>
                <span>Price</span>
                <span>2.50</span>
                <span>$</span>
            </div>
            <a href="" class="add-btn">Add</a>
        </div>
        <div class="item">
            <p class="item-name">
                Pencil
            </p>
            <img src="https://media.istockphoto.com/id/1256509544/vector/pencil-flat-vector-illustration-isolated-on-a-white-background.jpg?s=612x612&w=0&k=20&c=IfuOdd40OFqM-6jzqH6K2Lo3oOhhoypEDGEub-5dmIU=">
        
            <div>
                <span>Price</span>
                <span>2.50</span>
                <span>$</span>
            </div>
            <a href="" class="add-btn">Add</a>
        </div>
        <div class="item">
            <p class="item-name">
                Pencil
            </p>
            <img src="https://media.istockphoto.com/id/1256509544/vector/pencil-flat-vector-illustration-isolated-on-a-white-background.jpg?s=612x612&w=0&k=20&c=IfuOdd40OFqM-6jzqH6K2Lo3oOhhoypEDGEub-5dmIU=">
        
            <div>
                <span>Price</span>
                <span>2.50</span>
                <span>$</span>
            </div>
            <a href="" class="add-btn">Add</a>
        </div>
        <div class="item">
            <p class="item-name">
                Pencil
            </p>
            <img src="https://media.istockphoto.com/id/1256509544/vector/pencil-flat-vector-illustration-isolated-on-a-white-background.jpg?s=612x612&w=0&k=20&c=IfuOdd40OFqM-6jzqH6K2Lo3oOhhoypEDGEub-5dmIU=">
        
            <div>
                <span>Price</span>
                <span>2.50</span>
                <span>$</span>
            </div>
            <a href="" class="add-btn">Add</a>
        </div>
    </div>

</body>
</html>